* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

.app {
  background-image: url(./assests/cold-bg.jpg);
  background-position: bottom;
  background-size: cover;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url(./assests/warm-bg.jpg);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.801);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0 0 2rem 2rem;
}

.navbar .menu-icon {
  display: none;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 2rem;
}

.navbar .nav-menu a {
  color: rgba(0, 0, 0, 0.295);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem 0.3rem;
  height: 100%;
}

.navbar .nav-menu a i {
  padding-left: .5rem;
  color: black;
}

.navbar h1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #0898eb;
  text-shadow: 1.5px 2px rgba(50, 50, 70, 0.5);
}

.navbar h1 span {
  font-size: 2rem;
}

main {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 3rem;
}

main .searchbox {
  width: 100%;
  margin: 0 0 5rem;
}

main .searchbox .search-bar {
  display: block;
  width: 100%;
  padding: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  margin-top: 4rem;
  -webkit-box-shadow: 0 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 1.3rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .searchbox .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.85);
}

main .location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

main .location-box .date {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding-top: .6rem;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

main .weather-box {
  text-align: center;
  padding-top: 1rem;
}

main .weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 20px;
  font-size: 102px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

main .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: rgba(50, 50, 70, 0.5);
}

main footer {
  color: #fff;
  text-align: center;
  display: block;
}

@media screen and (max-width: 960px) {
  .navbar .menu-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar .nav-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
    height: 540px !important;
    position: absolute !important;
    top: 4.2rem !important;
    left: -100% !important;
    opacity: 1;
    -webkit-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    text-align: center !important;
    margin-left: 0 !important;
    z-index: 1;
    padding-top: 2rem;
  }
  .navbar .nav-menu.active {
    background: #10afd6;
    left: 0 !important;
    opacity: 2;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: center;
  }
  .navbar a {
    text-align: center !important;
    margin: 0 !important;
    padding: 1rem !important;
    width: 100% !important;
    height: 70% !important;
    display: table !important;
  }
  .navbar a:hover {
    text-align: center !important;
    background-color: transparent !important;
    color: #fff !important;
    border-radius: 0;
    border: 0.1rem solid blue !important;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar a:hover i {
    color: rgba(0, 0, 0, 0.637);
  }
}
/*# sourceMappingURL=index.css.map */